In [46]:
import pandas as pd
from pathlib import Path
import re

In [47]:
contacts_data = Path("Resources/contacts.xlsx")
contacts_df = pd.read_excel(contacts_data, skiprows=3)
contacts_df.head()

                                        contact_info
0  {"contact_id": 4661, "name": "Cecilia Velasco"...
1  {"contact_id": 3765, "name": "Mariana Ellis", ...
2  {"contact_id": 4187, "name": "Sofie Woods", "e...
3  {"contact_id": 4941, "name": "Jeanette Iannott...
4  {"contact_id": 2199, "name": "Samuel Sorgatz",...

In [48]:
def extract_contact_info(contact_info):
    contact_id_match = re.search(r'"contact_id": (\d+)', contact_info)
    name_match = re.search(r'"name": "([^"]+)"', contact_info)
    email_match = re.search(r'"email": "([^"]+)"', contact_info)
    
    contact_id = int(contact_id_match.group(1)) if contact_id_match else None
    name = name_match.group(1) if name_match else None
    email = email_match.group(1) if email_match else None
    
    return contact_id, name, email

In [49]:
parsed_data = contacts_df['contact_info'].apply(extract_contact_info)
parsed_df = pd.DataFrame(parsed_data.tolist(), columns=['contact_id', 'name', 'email'])

In [50]:
parsed_df['name'] = parsed_df['name'].astype(str).fillna('')

In [51]:
parsed_df[['first_name', 'last_name']] = parsed_df['name'].apply(lambda x: x.split(' ', 1) if ' ' in x else [x, '']).tolist()
parsed_df.drop(columns=['name'], inplace=True)
parsed_df.head()

   contact_id                         email first_name last_name
0        4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
1        3765       mariana.ellis@rossi.org    Mariana     Ellis
2        4187       sofie.woods@riviere.com      Sofie     Woods
3        4941   jeanette.iannotti@yahoo.com   Jeanette  Iannotti
4        2199      samuel.sorgatz@gmail.com     Samuel   Sorgatz

In [52]:
# Reorder the columns to have 'email' last
parsed_df = parsed_df[['contact_id', 'first_name', 'last_name', 'email']]
parsed_df.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [53]:
parsed_df.to_csv("Resources/contacts.csv", encoding='utf8', index=False)